 <main>
     <form id="create-contact" action="#" method="post">
         <fieldset>
             <legend>Crear contacto</legend>
             
             <label for="name">Nombre</label>
             <input type="text" name="name" id="name" required autocomplete="off">

             <label for="mail">Correo</label>
             <input type="email" name="mail" id="mail" required autocomplete="off">

             <label for="bithday">Cumpleaños</label>
             <input type="date" name="birthday" id="birthday" required>

             <button type="button" id="btn-create" onclick="library.getCtrl().create(library.get('create-contact'))">Crear</button>

         </fieldset>

     </form>
 </main>