<main>
    <table>
        <caption>Listado</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Cumpleaños</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>

    <template id="row">
        <tr>
            <td class="identifier"></td>
            <td class="name"></td>
            <td class="mail"></td>
            <td class="birth"></td>
            <td class="actions"></td>
            <button type="button" class="action delete">Eliminar</button>
            <button type="button" class="action update">Actualizar</button>
        </tr>

    </template>
</main>