<main>
        <form action="#" method="post">
            <fieldset>
                <legend>Crear contacto</legend>
                
                <label for="identifier">Identificador</label>
                <input type="number" name="identifier" id="identifier" disabled>
                
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" required autocomplete="off">
   
                <label for="mail">Correo</label>
                <input type="email" name="mail" id="mail" required autocomplete="off">
   
                <label for="bithday">Cumpleaños</label>
                <input type="date" name="birthday" id="birthday" required>
   
                <button type="submit" id="btn-create">Crear</button>
   
            </fieldset>
   
        </form>
    </main>