<main>
    <form action="#" method="post">
        <fieldset>
            <legend>Creando contactos</legend>

            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" requiered autocomplete="off">

            <label for="mail" >Correo</label>
            <input type="email" name="mail" id="mail" requiered autocomplete="off">

            <label for="age">Edad</label>
            <input type="number" name="age" id="age" requiered >

            <label for="birth" >Fecha de birth</label>
            <input type="date" name="birth" id="birth" requiered >
            
            <button type="submit" id="btn-create">Crear</button>

        </fieldset>
    </form>
</main>