<main>
    <table>
        <caption>Publicaciones</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Edad</th>
                <th>Cumpleaños</th>
            </tr>
        </thead>
        <tbody id="body-table">

        </tbody>
    </table>

    <template id="row">
        <tr>
            <td class="identifier"></td>
            <td class="name"></td>
            <td class="mail"></td>
            <td class="age"></td>
            <td class="birth"></td>
            <td class="actions">
                <button type="button" class="action delete">Eliminar</button>
                <button type="button" class="action update">Actualizar</button>
            </td>

        </tr>

    </template>
</main>