* {
  margin: 0%;
  border: 0%;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 0.5fr 3fr 3fr 0.5fr;
  grid-template-rows: 15% 25% 20% 40%;
  align-items: center;
  justify-items: center;
  background-color: #ffd6cc;
}

#icon {
  margin: auto;
  grid-column: 2/4;
  grid-row: 2/3;
  width: 100%;
  max-width: 80vw;
}

#name-logo {
margin: auto;
  grid-column: 2/4;
  grid-row: 3/4;
  width: 100%;
  max-width: 70vw;
}

#firebaseui-auth-container{
    grid-column: 2/4; 
    grid-row: 4/5;
}
 

  
