* {
    margin: 0%;
    border: 0%;
  }

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.5fr 3fr 3fr 0.5fr;
    grid-template-rows: 10% 30% 60%;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(to bottom, #fff7e9, #f7d9ba, #f1b996, #f1ab95, #f38c8c); 
  }

  img{
    margin: auto;
    grid-column: 2/4;
    grid-row: 2/3;
    width: 70vw;
    height: 30vh;

}

  #firebaseui-auth-container{
      grid-column: 2/4; 
      grid-row: 3/4;

  }